---
stages:
  - test
  - release

.go_template_defaults:
  stage: test
.semver_template_defaults:
  stage: release
include:
  - { project: fsrvcorp/templates, file: templates/language/go.yml, ref: 1.0.14 }
  - { project: fsrvcorp/templates, file: templates/release/semver.yml, ref: 1.0.14 }

packages:
  stage: release
  image: goreleaser/goreleaser@sha256:846b7cad015f87712ad4e68d9cd59bfde4e59c9970265f76dd4e3b3b6f41c768
  script:
    - git reset --hard $CI_COMMIT_SHA
    - git clean -ffdx
    - |
      if [ -n "$CI_COMMIT_TAG" ]; then
        goreleaser release --skip publish --clean
      else
        goreleaser release --skip publish --clean --snapshot
      fi
  artifacts:
    paths:
      - dist/*.deb
    expire_in: 1 week

deb mirror:
  stage: release
  image: alpine@sha256:865b95f46d98cf867a156fe4a135ad3fe50d2056aa3f25ed31662dff6da4eb62
  only:
    - tags
  dependencies:
    - packages
  needs:
    - packages
  before_script:
    - apk add --no-cache ca-certificates curl
  script:
    - |
      for file in dist/*.deb; do
        URL="$(curl --upload-file ${file} https://t.fsrv.xyz)"
        curl -X POST --fail -F token=$CI_JOB_TOKEN -F "variables[PACKAGE_URL]=${URL}" -F ref=main https://ref.ci/api/v4/projects/185/trigger/pipeline
      done
